* {
  border: 1px black solid;
}

body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;

}

h1, h2, h3, h4 {
  font-weight: 100;
  color: hsl(200, 50%, 50%);
  text-align: center;
}

li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.banner {
 background-color: black;
}

.title {
 display: inline-block;
 font-size: 50px;
}

.logo {
  display: inline-block;
  height: 60px;
  widows: 60px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-top: 11px;
  padding-bottom: 0px;
}

.banner h2, .banner h3, .banner a {
  text-align: center;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}

.aboutList li {
  display: block;
}

.startedSteps li {
  display: block;
}

.horizontal div {
  display: inline-block;
  margin-left: 130px;
  margin-right: 70px;
}


.about p {
  font-size: 20px;
}

.banner p {
  color:  white;
  font-size: 20px;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 30px;
}

.values li {
  font-size: 18px;
  color: hsl(200, 50%, 50%);
  padding-top: 10px;
}

.vertical li{
  display: block;
}

